<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.member.dao.mapper.MemberMapper">

	<!-- resultType="int" -->
	<insert id="memberInsert" parameterType="com.java.member.dto.MemberDto">
		INSERT INTO member
		VALUES(member_num_seq.nextval,
		#{id},
		#{password},
		#{name},
		#{jumin1},
		#{jumin2},
		#{email},
		#{zipcode},
		#{address},
		#{job},
		#{mailing},
		#{interest},
		#{memberLevel},
		sysdate)
	</insert>

	<select id="memberIdCheck" parameterType="String" resultType="String">
		SELECT id FROM member WHERE id=#{id}
	</select>

	<select id="memberZipcode" parameterType="String" resultType="com.java.member.dto.ZipcodeDto">
		SELECT * FROM zipcode WHERE dong=#{dong}
	</select>
</mapper>